<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCAPTCHA Demo</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <h1>Google reCAPTCHA Demo</h1>
    <form action="/submit" method="POST">
        <div class="g-recaptcha" data-sitekey="<%=siteKey %>"></div>
        <br />
        <button type="submit">Submit</button>
    </form>
</body>

</html>